@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.songRow {
  font-family: "Montserrat", sans-serif;
  margin-left: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  z-index: 100;
  color: Black;
}
.songRow:hover {
  cursor: pointer;
  background-color: white;
  opacity: 0.8;
  width: 50%;
  border-radius: 10px;
  transform: translateY(-5px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}
.songRow__info {
  margin-left: 20px;
}
.songRow__info > h1 {
  font-size: 16px;
}
.songRow__info > p {
  font-size: 14px;
  margin-top: 3px;
  color: gray;
}
.songRow__album {
  height: 40px;
  width: 40px;
}
